<h1 class="mt-4 mb-4">Connecte-toi</h1>

<!-- alerte déconnexion réussie -->
<% if flash[:logout_success] %>
  <div class="alert alert-success">
    <%= flash[:logout_success] %>
  </div>
<% end %>

<!-- alerte connexion KO-->
<% if flash[:session_ko] %>
  <div class="alert alert-danger">
    <%= flash[:session_ko] %>
  </div>
<% end %>

<%= form_tag(sessions_path, method: "post", class: "mx-4 my-4") do %>
  <div class="form-group mb-3">
    <%= label_tag :email, "Email" %>
    <%= email_field_tag :email, nil, class: "form-control", placeholder: "Votre email" %>
    <small id="emailHelp" class="form-text text-muted">vos information ne seront pas partagées.</small>
  </div>
  <div class="form-group mb-3">
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password, nil, class: "form-control", placeholder: "Votre password" %>
  </div>


  <div class="field my-2">
    <%= label_tag :remember_me, 'Se souvenir de moi' %>
    <%= check_box_tag :remember_me %>
  </div>
  
  <%= submit_tag "Submit", class: "btn btn-primary" %>
  <small id="not_member" class="form-text text-muted mt-3">
    <%= link_to "Créer un compte", new_user_path %>
  </small>
<% end %>
