<html>
  <head>
    <title>Créer un potin</title>
  </head>

  <body>
    <!-- alerte post non créé -->
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
     <% end %>
     <!--  -->

    <h1>Raconte nous tout !</h1>

    <p>Balance ton potin via le formulaire ci-dessous</p>



  <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'title' %>
      <%= text_field_tag 'title', @gossip.title %>
      <br /> <br />

      <%= label_tag 'content' %>
      <%= text_area_tag 'content', @gossip.content %>
      <br /> <br />

   

      <%= submit_tag "Create Post" %>

    <% end %>

    <!-- ... -->