<html>
  <head>
    <title>Créer un gossip</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body>
    <!-- alerte post non créé -->
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
     <% end %>
     <!--  -->

 <div class="container mx-3">
    <h1>Raconte nous tout !</h1>

    <p>Balance ton gossip le plus croustillant via le formulaire ci-dessous</p>

    <%= form_tag url_for(action: 'create'), method: "post" do %>
      <div class="mb-3">
        <%= label_tag 'title', 'Titre du Gossip', class: 'form-label' %>
        <%= text_field_tag 'title', @gossip.title, class: 'form-control', id: 'exampleFormControlInput1' %>
      </div>

      <div class="mb-3">
        <%= label_tag 'content', 'Donne-nous un peu plus de détails sur ce gossip ;-)', class: 'form-label' %>
        <%= text_area_tag 'content', @gossip.content, class: 'form-control', id: 'exampleFormControlTextarea1', rows: 3 %>
      </div>

      <%= submit_tag "Envoyer", class: 'btn btn-primary' %>
    <% end %>
</div>
  </body>
</html>
