<html>
  <head>
    <title>Show Gossip</title>
  </head>

  <body>
 <!-- alerte post bien modifié -->
  <% if flash[:modif_success] %>
    <div class="alert alert-success">
      <%= flash[:modif_success] %>
    </div>
  <% end %>

  <div class="mt-4"></div> <!-- Ajout de la marge -->
    <div class="container">
      <div class="card text-center">
        <div class="card-header">
          Gossip : <%= @gossip.id %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @gossip.title %></h5>
          <p class="card-text"> <%= @gossip.content %></p>
          <div class="d-flex justify-content-center">      <!-- Boutons avec marge autour -->
            <div class="mx-2">
              <% if current_user == @gossip.user %>
                <%= link_to 'Modifier', edit_gossip_path(@gossip), class: 'btn btn-primary' %>
                </div>
                <div class="mx-2">
                <%= button_to "Supprimer", gossip_path, class: 'btn btn-secondary', form: {data: {turbo_confirm: 'Valider ?'}}, method: :delete %>
              <% end %>

            </div>
          </div>
        </div>
          <div class="card-footer text-muted">
          Ce gossip a été écrit par  <%= link_to @gossip.user.first_name, user_path(@gossip.user) %>  de <%= link_to @gossip.user.city.name , city_path(@gossip.user.city)%> 
        </div>
      </div>
    </div>

<!-- Zone creation commentaires -->
<h5 class="card-title">Commentaires </h5>




<%= form_tag("/gossips/#{@gossip.id}/comments", method: 'post') do %>
  <p class="comment-form"><%= text_area_tag :content, nil, placeholder: "Votre commentaire ...", rows: 2, cols: 100 %>
    <%= submit_tag "Commenter", class: "button btn btn-outline-info btn-dark btn-sm" %>
  </p>
<% end %>


<!-- Zone affichage commentaires -->
<p class="small text-italic">Pour info, ce sont des contrepétries ;-)</p>
<ul class="list-group list-group-flush">
  <% @gossip.comments.each do |comment| %>
    <li class="list-group-item">
     <%= comment.content %><br>
     Ecrit par <%= comment.user.first_name %>, le <%= comment.updated_at.strftime("%d/%m/%Y") %>
      <div class="mb-2 mt-2"> <!-- Ajout de marges en haut et en bas du bouton -->
      <% if current_user == comment.user %>   
        <%= button_to "Supprimer", [@gossip, comment], class: 'btn btn-secondary', form: {data: {turbo_confirm: 'Valider ?'}}, method: :delete %>
      <% end %>
      </div>    
    </li>
   <% end %>

<!-- Bouton Retour -->
  <a href="<%= gossips_path %>">Retour à la liste de gossips</a>


  </body>
</html>

